body {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;
    padding: 20px;
  }
  
  h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  .established {
    font-style: italic;
  }
  
  h1, h2,  {
    text-align: center;
  }
  
  .menu {
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
  }
  
  .bottom-line {
    margin-top: 25px;
  }
  
  h1, h2 {
    font-family: Impact, serif;
  }
  
  .item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .flavor, .dessert {
    text-align: left;
    width: 75%;
  }
  
  .price {
    text-align: right;
    width: 25%;
  }
  
  /* FOOTER */
  
  
  
  .address {
    margin-bottom: 5px;
  }
  
  a {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: brown;
  }
  
  a:active {
    color: brown;
  }
  h1 {
    text-align: center;
  }
  
  .container {
    background-color: rgb(255, 255, 255);
    padding: 10px 0;
  }
  
  .container{
    width: 500px;
    height: 500px;
    background-color: rebeccapurple;
    clip-path: circle(50% at 0 0);
    clip-path: polygon(20% 5%, 78% 20%, 100% 80%, 10% 90%);
    transition: all 2s ease;

}
.container:hover{
    clip-path:circle(100%);
    clip-path: polygon(0% 50%, 78% 36%, 100% 100%, 0% 100%);
}
.frame{
    width: 500px;
    height: 500px;
    border: 3px solid rebeccapurple;
    perspective: 500px;
}
.shape{
    width: 500px;
    height: 470px;
    background-color: lightblue;
    transform: rotateX(45deg);
    transition: all 3s ease
}
  h1{align:center;
  }
  .shape::aside::img{align:left;
    height:300px; width:100px
  }

.player{
    width: 500px;
    background-color: black;
    aspect-ratio:16/9 ;
}
 img{
   filter:contrast (20px); 
}
input{
    padding: 20px;
    border: 1px solid red;
    caret-color: red;
}
input:focus{
    outline:1px solid red;
}
input::placeholder{
    color:red;
}
 
  footer.p{
    align:center;
  }